@import "npm:@pixu-talks/fonts";
@import "npm:@pixu-talks/theme";

@import "./_cascade.css" layer(pixu-talks);
@import "./_browser.css" layer(pixu-talks);

@layer pixu-talks {
	@layer reveal {
		.reveal pre {
			max-width: 100%;
		}

		figcaption + picture {
			margin-block-start: 3rem;
		}
	}

	@layer doodle {
		[doodle] {
			img {
				width: 50%;
			}
		}
	}

	@layer brand {
		[brand] {
			position: fixed;
			inset: auto auto 3rem 3rem;

			img {
				inline-size: 15rem;
				aspect-ratio: 1;

				border: 2px rebeccapurple;
				border-radius: 2rem;
			}
		}
	}
}
